background: linear-gradient(230deg, #0085b7, #02c5ec, #02dcfd, #5be9ff, #00bad7, #006474);
background-size: 1200% 1200%;

-webkit-animation: wilcode 12s ease infinite;
-moz-animation: wilcode 12s ease infinite;
animation: wilcode 12s ease infinite;

@-webkit-keyframes wilcode {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@-moz-keyframes wilcode {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@keyframes wilcode {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}