/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/



.portfolio-full .portfolio-item {
    border: 0.5px solid black;
}

.bgicon {

    bottom: -80px;
    right: -10px;

}

@media (max-width: 1200px){


#primary-menu ul li > a {

    padding-left: 1px;
    padding-right: 1px;
}

}

